<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IWAU_QuickPackUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IWAU_QuickPackUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <IWAU_QuickPackUtility.Properties.Settings>
            <setting name="CustomIWAUPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBuildInIWAU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenOutputWhenDone" serializeAs="String">
                <value>True</value>
            </setting>
        </IWAU_QuickPackUtility.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IWAU_QuickPackUtility.Properties.Settings>
            <setting name="IWAURemoteDownloadURL" serializeAs="String">
                <value>https://github.com/microsoft/Microsoft-Win32-Content-Prep-Tool/raw/master/IntuneWinAppUtil.exe</value>
            </setting>
        </IWAU_QuickPackUtility.Properties.Settings>
    </applicationSettings>
</configuration>